.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
/* TODO: Change this to a media query */
.mobileS {
  margin-bottom: 20px;
}

.logo {
  width: 3.5rem;
}

.bg-custom1 {
  background-color: rgba(22, 34, 46, 0.541);
}

.btn-e {
  padding: 0.6rem;
  border-radius: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.pointer {
  cursor: pointer;
}

div .row {
  margin: 0 auto;
}
